@media screen and ( max-width: 1480px )
  .link
    display: none
@media screen and ( max-width: 1280px )
  html
    font-size: 12px
  .container
    max-width: 85%
  .hero
    &__image
      margin-left: -5rem
    &__title
      width: 600px
    &__text
      width: 500px
  .information
    padding-top: 0
    margin-top: -8rem
  .card
    margin-top: -10rem
  .cost
    &__form
      width: 25rem
  .cases
    &__slide
      width: 70rem
      background-position: -80% 10%
  .news
    &__info
      left: -15%
      margin-top: 20%
    &__button
      &-prev, &-next
        width: 4.5rem
      &-next
        left: 10rem
@media screen and ( max-width: 1245px )
  .news
    &__info
      left: 50%
      margin-top: -15%
    &__button
      &-prev, &-next
        width: 4.5rem
      &-next
        left: 10rem
@media screen and ( max-width: 1155px )
  .logo
    margin-right: 5rem
  .hero
    &__text
      max-width: 450px
    &__image
      margin-left: -10rem
  .services
    &__card
      &-item
        margin-left: 2rem
        margin-right: 2rem
@media screen and ( max-width: 1080px )
  .logo
    margin-right: 0
  .nav
    &__item
      margin-right: 1rem
  .cases
    &__slide
      justify-content: center
      width: 55rem
      background: none
    &__left
      text-align: center
    &__right
      margin-top: 0
      text-align: center
      &-title
        width: 100%
  .news
    &__calendar
      width: 40rem
    &__info
      left: 40%
      margin-top: -15%
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__image
      display: none
    &__text
      max-width: 575px
  .card
    margin-top: -10rem
    &__title
      font-size: 3rem
    &__text
      font-size: 1.1rem
  .services
    &__card
      justify-content: space-around
      &-item
        width: 40%
  .cost
    &__card
      padding-left: 0
      width: 50rem
      background: transparent
      background-color: $light
    &__form
      width: 80%
      margin: auto
  .cases
    &__slide
      width: 45rem
  .reviews
    &__slide
      width: 45rem
  .news
    &__info
      width: 27rem
      height: 25rem
      left: -20%
      margin-top: 20%
@media screen and ( max-width: 989px )
  .news
    &__info
      width: 27rem
      height: 25rem
      left: 40%
      margin-top: -20%
@media screen and ( max-width: 760px )
  .hero
    &__text
      max-width: 500px
    &__title
      width: 500px
      font-size: 3.5rem
  .contacts
    margin-left: -10rem
  .card
    &__title
      font-size: 3rem
    &__text
      font-size: 1rem
  .advantages
    &__card
      &-item
        width: 35%
  .title
    width: 40rem
  .cost
    &__card
      width: 40rem
      background: transparent
      background-color: $light
  .cases
    &__slide
      width: 35rem
    &__right
      &-img
        margin-left: 0
        width: 400px
  .reviews
    background-position: 80% 100%
    &__slide
      width: 30rem
  .news
    &__calendar
      width: 30rem
      height: 19rem
    &__info
      width: 25rem
      height: 25rem
      left: 35%
      margin-top: -20%
    &__button
      padding: 16px 75px
@media screen and ( max-width: 620px )
  .contacts
    &__button
      display: none
  .card
    padding-bottom: 2rem
    padding-top: 2rem
    &__title
      font-size: 2rem
    &__text
      font-size: 0.9rem
  .video
    margin-top: -9rem
    &__img
      width: 5rem
      height: 5rem
  .cases
    &__slide
      width: 30rem
    &__right
      &-img
        width: 300px
  .news
    &__slider
      padding-bottom: 5rem
    &__calendar
      display: none
    &__info
      width: 30rem
      height: 23rem
      left: 10%
      margin-top: 0
    &__button
      padding: 16px 35px
      &-prev, &-next
        top: 90%
        margin-left: 31%
@media screen and ( max-width: 550px )
  .logo
    margin-left: -1rem
    &__img
      width: 2.5rem
      height: 2.5rem
    &__title
      font-size: 1.5rem
      margin-left: 0.5rem
  .contacts
    margin-left: 2rem
    &__phone
      margin-right: 0
  .hero
    &__content
      margin-left: -1rem
    &__text
      max-width: 280px
    &__title
      width: 295px
      font-size: 2.25rem
      line-height: 4.3rem
    &__button
      width: 295px
  .card
    &__title
      font-size: 1.5rem
    &__text
      font-size: 0.8rem
  .advantages
    &__card
      justify-content: center
      &-item
        width: 50%
  .title
    width: 30rem
  .services
    &__card
      justify-content: center
      &-item
        width: 70%
  .cost
    &__card
      width: 30rem
      padding-top: 2.5rem
      padding-bottom: 3.5rem
  .cases
    &__slide
      width: 26rem
    &__right
      &-img
        width: 250px
  .reviews
    &__slide
      margin-top: 2rem
      width: 20rem
    &__text
      font-size: 1.1rem
  .news
    &__slider
      padding-bottom: 5rem
    &__info
      width: 25rem
      height: 25rem
      left: 9%
      margin-top: 0
    &__button
      width: 100%
      &-prev, &-next
        margin-left: 28%
@media screen and ( max-width: 450px )
  .video
    height: 20rem
    &::before
      height: 20rem
  .advantages
    &__card
      justify-content: center
      &-item
        width: 70%
  .title
    width: 20rem
  .cost
    &__card
      width: 23rem
      padding-top: 2rem
      padding-bottom: 3rem
    &__button
      padding: 15px 55px
      margin-top: 2.5rem
  .cases
    &__slide
      width: 18rem
    &__right
      &-img
        width: 220px
    &__left
      margin-right: 2rem
    &__item
      font-size: 1rem
  .reviews
    &__slide
      width: 17rem
    &__text
      font-size: 1rem
  .news
    &__slider
      padding-bottom: 6rem
    &__calendar
      display: none
    &__info
      width: 21rem
      height: 30rem
      left: 0
      margin: auto
      margin-top: 0
      box-shadow: none
    &__button
      width: 100%
      &-prev, &-next
        top: 95%
        margin-left: 25%
@media screen and ( max-width: 360px )
  .news
    &__button
      &-prev, &-next
        top: 95%
        margin-left: 20%