@media screen and ( max-width: 1480px )
  .link
    display: none
@media screen and ( max-width: 1280px )
  html
    font-size: 12px
  .container
    max-width: 85%
  .hero
    &__image
      margin-left: -5rem
    &__title
      width: 600px
    &__text
      width: 500px
  .information
    padding-top: 0
    margin-top: -8rem
  .card
    margin-top: -10rem
@media screen and ( max-width: 1155px )
  .logo
    margin-right: 5rem
  .hero
    &__text
      max-width: 450px
    &__image
      margin-left: -10rem
@media screen and ( max-width: 1080px )
  .logo
    margin-right: 0
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__image
      display: none
    &__text
      max-width: 575px
  .card
    margin-top: -10rem
    &__title
      font-size: 3rem
    &__text
      font-size: 1.1rem
@media screen and ( max-width: 760px )
  .hero
    &__text
      max-width: 500px
    &__title
      width: 500px
      font-size: 3.5rem
  .contacts
    margin-left: -10rem
  .card
    &__title
      font-size: 3rem
    &__text
      font-size: 1rem
@media screen and ( max-width: 620px )
  .contacts
    &__button
      display: none
  .card
    padding-bottom: 2rem
    padding-top: 2rem
    &__title
      font-size: 2rem
    &__text
      font-size: 0.9rem
@media screen and ( max-width: 550px )
  .logo
    margin-left: -1rem
    &__img
      width: 2.5rem
      height: 2.5rem
    &__title
      font-size: 1.5rem
      margin-left: 0.5rem
  .contacts
    margin-left: 2rem
    &__phone
      margin-right: 0
  .hero
    &__content
      margin-left: -1rem
    &__text
      max-width: 280px
    &__title
      width: 295px
      font-size: 2.25rem
      line-height: 4.3rem
    &__button
      width: 295px
  .card
    &__title
      font-size: 1.5rem
    &__text
      font-size: 0.8rem