.hero
  position: relative
  display: flex
  flex-direction: column
  height: 101vh
  &__content
    margin-bottom: 5rem
  &__link
    position: absolute
    left: 0
    top: 0
    max-width: 100px
    height: 100%
    font-weight: bold
  &__title
    width: 700px
    font-size: 3.55rem
    font-family: 'Ubuntu', sans-serif
    font-weight: bold
    line-height: 4.8rem
    color: $secondary
    margin-bottom: 2.35rem
  &__text
    width: 565px
    font-size: 1.25rem
    font-family: 'Ubuntu', sans-serif
    font-weight: 300
    line-height: 1.8125rem
    color: $secondary
    margin-bottom: 2.4rem
  &__button
    padding: 15px 40px
  &__image
    margin-left: -7rem
    margin-top: -5rem
.link
  display: flex
  justify-content: flex-end
  align-items: center
  flex-direction: column
  padding-left: 2rem
  margin-top: -10rem
  &::before
    content: ''
    display: block
    width: 4px
    height: 43.125rem
    background-color: $orange
  &__item
    margin-top: 2.1rem
    &:hover
      box-shadow: 0px 5px 15px rgba($orange, 0.2)