.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-top: 100px
  height: 90vh
  &__link
    position: absolute
    left: 0
    top: 0
    max-width: 100px
    height: 100%
    font-weight: bold
.link
  display: flex
  justify-content: flex-end
  align-items: center
  flex-direction: column
  background-color: #000000
  &__item
    text-decoration: none
    padding: 50px